<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <h2>Department employee Count:</h2>
    </div>
  </div>
    <table class="table table-striped table-bordered mt-5" >
    <thead>
        <th>Department</th>
        <th>Count of the employee</th>
    </thead>
    <tbody>
            <tr>
                <td>Department: <%= @department.name %></td>
                <td>Employee Count: <%= @employee_count %></td>
            </tr>
    </tbody>
</table>